/****************폰트연결****************/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/****************css초기화****************/

*{box-sizing: border-box;}
html, body {width: 100%; height: 100%; overflow-x: hidden;}
body { margin: 0; font-family:'Nanum Gothic'; color: #1a1a1a; font-size: 14px; -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; -webkit-box-sizing:border-box ; 
-moz-box-sizing:border-box ; -o-box-sizing:border-box ; -ms-box-sizing:border-box ; box-sizing:border-box ; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: top; }
div, header, footer, section, nav { position: relative; }
img { vertical-align: top; max-width: 100%; }
li { list-style: none; }
a { text-decoration: none; color: #1a1a1a; }
input { background-color: #fff; box-sizing: border-box; }
input[type="text"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select::-ms-expand { display: none; }
textarea { resize: none; outline: none; }
button { cursor:pointer; border:none; margin:0; padding:0;}
input,button,select { vertical-align:middle; outline: none; }

/*모바일 브라우져에서 글자크기 자동확대 방지*/
body {line-height: 1.5; -webkit-text-size-adjust:none;}
/*아이폰 인풋 자동확대 방지*/
input[type="text"],input[type="password"],textarea {font-size: 16px;}


/****************common/공통 레이아웃****************/
.blind {position:absolute; width:1px; height:1px; overflow:hidden; margin:-1px; clip:rect(0 0 0 0);}
.trx50 {transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%);}
.try50 {transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%);}

#wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;    
}

.common_inner {
    position: relative;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
.common_inner:after {content: ''; display: block; clear: both;}

/****************sub_page_common****************/
.sub_page_wrap {margin-top: 60px;}
.page_title_wrap {height: 220px; overflow: hidden; background: url(../img/common/page_header_img.jpg) no-repeat center -725px; padding: 0; border: none;}
.page_title_wrap .common_inner {height: 100%;}
.page_title_wrap p {position: absolute; top:50%; color: #fff; line-height: 34px; font-size: 26px; font-weight: bold; text-shadow: 1px 1px 1px #000; z-index: 2;}

.section_intro {padding: 50px 0 0; }
.section_title {position: relative; margin-bottom:15px; font-size: 24px; text-align: center; }
.section_title:after {content: ""; display:block; position: absolute; left:50%; bottom: -15px; transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); width: 50px; height: 3px; background-color: #3f7f00;}

.bbs_intro_txt {height:32px; line-height: 32px; text-align: center; margin-top: 25px;}

/****************header****************/
#header {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9999; 
    overflow: hidden;
    transition: all 0.5s;
}

#header .common_inner {padding: 0 20px;}

/* 로고 */
#header .logo {float: left;}

#header .logo a {display: block; padding: 6px 0;}

/* 메뉴 */

#header .btn_menu {
    background: url(../img/nav_menu.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 22px;
    border: none;
    outline: none;
    margin-top: 19px;
    text-indent: -9999px;
    float: right;
}

#header nav {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    /* max-width: 300px; */
    width: 100%;
    height: 100%;
    background: #313131;
    z-index: 9999;
}

#header nav.on {transform: translate(0);}

/* .gnb:after {content: ''; display: block; clear: both;} */
.gnb {margin-top: 50px; border-top: 1px solid #505156; height: 100%; position: relative; overflow: hidden;}
.gnb > li {}
.gnb > li > a {display: block; font-size: 20px; color: #fff; line-height: 60px; border-bottom: 1px solid #505156; padding-left: 20px;/*  text-align: right; */}
/* .gnb > li > a:hover {color: #3f7f00; font-weight: 700;} */
.gnb > li > a.active {background: #4ba988; font-weight: 700;}
/* .gnb > li > a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 3px; background: #3f7f00; transition: all 0.3s;}
.gnb > li > a:hover:after {width: 100%;} */
.gnb > li > a.active:after {width: 100%;}

#header .gnb li .depth2_wrap {
    position: absolute;
    right: -100%;
    top: 0;
    bottom: 0;
    background: #f1f1f1;
    width: 220px;
    height: 100%;
    padding: 0 20px;
    z-index: 9999;
    overflow: hidden;
    transition: all 0.3s;
    /* transform:  matrix(1, 0, 0, 1, 190, 0); */
    box-shadow: inset 5px 0px 5px rgba(0,0,0,0.3);
}

#header .gnb li .depth2_wrap.on {
    right: 0;
}

#header .gnb li .depth2_wrap h2 {padding: 10px 0; border-bottom: 1px solid #414244; text-align: center;} 

.depth2 {/* position: absolute; left: 0; top: 52px; */ width: 100%; height: 100%; text-align: center;}
.depth2 li a {display: block; font-size: 16px; line-height: 1; padding: 17px 0; border-bottom: 1px solid #8a8a8a;}
/* .depth2 li a:hover {color: #3f7f00; font-weight: 700;} */
/* .depth2 li:last-child a {border-bottom: none;} */

#header .dimm {
    background: #363636;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    /* transform: translate(100%); */
    transition: all 0.3s;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

#header nav .btn_close {position: absolute; right: 0; top: 0; width: 50px; height: 50px; background: url(../img/btn_close.png) no-repeat 50% 50%; background-size: 24px;}

#header .dimm.on {
    transform: translate(0);
}

/****************footer****************/
#footer {background: #3b3b3b; color: #dadada; font-size: 14px; padding: 30px 0; }
#footer .footer_section {margin: 5px 0; word-break: keep-all;}

/****************게시판****************/

