
/****************main****************/
#main {padding-top: 60px; position: relative;}

/* #main .main_slider {height: calc(100vh);} */
/* #main .main_slider .swiper-slide {height: 350px;} */
#main .main_slider .swiper-slide img {}

.main_title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 54%;
    color: #fff;
}

.main_title h3 {font-size: 22px; line-height: 1.5; text-shadow: 2px 2px 2px #3b3b3b; word-break: keep-all;}
.main_title p {display: none; /* font-size: 18px; line-height: 1.5; text-shadow: 1px 1px 1px #3b3b3b; */}


#main .main_slider .swiper-button-next {
    height: 50px;
    width: 30px;
    margin-top: -25px;
    background: url(../img/slider/main_slider_btn.png) no-repeat 50% 50%;
    right: 20px;
}

#main .main_slider .swiper-button-prev {
    height: 50px;
    width: 30px;
    margin-top: -25px;
    background: url(../img/slider/main_slider_btn.png) no-repeat 50% 50%;
    transform: rotate(-180deg);
    left: 20px;
}

#main .main_product {background: #fff; text-align: center; padding: 30px 0;}
#main .main_product .common_inner {padding: 0 20px;}

.main_product .sub_title h4 {font-size: 16px;}
.main_product .sub_title h3 {font-size: 18px; font-weight: 600; margin-bottom: 10px;}
.main_product p {font-size: 14px; color: #777; line-height: 1.6; word-break: keep-all;}

.product_list {margin: 40px 0;}
.product_list:after {content: ''; display: block; clear: both;}
.product_list li {float: left; width: 31.3%; margin: 0 1%;}

.product_list li .product_img {display: block; height: 220px; border: 3px solid #ccc; margin-bottom: 10px;}
.product_list li .product_img img {height: 80%; padding: 10px 0;}

.product_list li h5 {font-size: 14px; margin-bottom: 5px;}

.product_bottom .product_list {margin-bottom: 0;}

/* .main_section {
    height: 700px;
} */
.main_section .section_title {background: #f0f0f0; padding-bottom: 40%; margin-right: 60px;}
.main_section .section_title:after {display: none;}

.main_section .section_title .title {
    position: absolute;
    left: 7%;
    top: 50%;
    text-align: left;
}

.main_section .section_title .title p {font-size: 14px; color: #777; line-height: 2.6;}
.main_section .section_title .title h3 {font-size: 18px;}
.main_section .section_title .title .btn_more {
    display: block; 
    width: 160px; 
    height: 50px;
    margin-top: 20px;
    border: 2px solid #b0283b;
    line-height: 50px;
    text-indent: -50px;
    color: #b0283b;
    font-weight: 900;
    font-size: 16px;
    background: #fff;
    position: relative;
    transition: all 0.3s;
    z-index: 0;
    text-align: center;
}
.main_section .section_title .title .btn_more:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #b0283b;
    transition: all 0.3s;
    z-index: -1;
}

.main_section .section_title .title .btn_more:after {
    content: '';
    position: absolute;
    right: 24px;
    top: 18px;
    width: 33px;
    height: 12px;
    transition: all 0.3s;
    background: url(../img/btn_more_arrow.png) no-repeat;
}


.main_section .section_title .title .btn_more:hover {color: #fff;}
.main_section .section_title .title .btn_more:hover:before {width: 100%;}
.main_section .section_title .title .btn_more:hover:after {background-image: url(../img/btn_more_arrow_hover.png);}

.main_section .section_img {position: absolute; right: 0%; top: 50%; transform: translateY(-50%); width: 42%;}

.main_section5 .section_title {left: auto; right: 0; margin-left: 60px; margin-right: 0;}
.main_section5 .section_title .title {left: auto; right: 15%;}
.main_section5 .section_title .title .last {padding-top: 30px; display: none;}
.main_section5 .section_img {right: auto; left: 0;}



/****************company_page****************/

#company .section_intro .img_wrap {height: 190px; margin-bottom: 30px; overflow: hidden;}

/****************bbs_wrap****************/
#bbsList .section_intro {
    padding: 50px 20px 0;
}

.bbs_list {
    width: 100%;
    margin-top: 15px;
    border-top: 2px solid #999;
    border-collapse: collapse;
}

.bbs_list thead {
    height: 30px;
}

.bbs_list .bbs {
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
}

.bbs_list .bbs .tit {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 34px;
}

.bbs_list .bbs .num {
    width: 65px;
}

.bbs_list .bbs .title {
    width: calc( 100% - 265px);
}

.bbs_list .bbs .count {
    width: 80px;
}

.bbs_list .bbs .date {
    width: 120px;
}

.bbs_list .num img {
    width: 46px;
    margin-top: 7px;
}

.bbs_list .bbs_new {
    background: #f2ffe6;
}

.bbs_list .bbs_new .title {
    color: #3f7f00;
}

.bbs_list .bbs .txt {
    font-size: 12px;
    line-height: 34px;
    text-align: center;
}

.bbs_list .bbs .txt.title {
    text-align: left;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

/****************bbs_detail****************/
#bbsDetail .section_intro {
    padding: 50px 20px 0;
}

.bbs_detail {
    margin-top: 35px;
}

.bbs_detail .input_wrap {
    margin-bottom: 15px;
}

.bbs_detail .input_wrap:after {
    content: '';
    clear: both;
    display: block;
}

.bbs_detail .input_wrap .input_tit {
    font-size: 14px;
    font-weight: 700;
    float: left;
    letter-spacing: 1px;
}

.bbs_detail .input_wrap .input_box {
    font-size: 13px;
    margin-left: 8px;
    float: left;
}

.bbs_detail .textarea_box {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    line-height: 20px;
    font-size: 13px;
    border: 1px solid #3f7f00;
    border-right: none;
    border-left: none;
    padding: 12px;
    word-break: keep-all;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.bbs_detail .info_wrap {
    float: right;
    margin-top: 10px;
}

.bbs_detail .info_wrap:after {
    content: '';
    clear: both;
    display: block;
}

.bbs_detail .info_wrap p {
    font-size: 13px;
    padding: 0 10px;
    float: left;
}

.bbs_detail .info_wrap .date {
    float: left;
    border-right: 1px solid #991b1e;
}

.bbs_detail .btn_wrap {
    text-align: center;
    margin: 80px 0 100px;
}

.bbs_detail .btn_wrap .btn {
    display: inline-block;
    margin: 0 30px;
    box-sizing: border-box;
    width: 110px;
    height: 32px;
    line-height: 28px;
    font-size: 14px;
}

.bbs_detail .btn_wrap .btn a {
    letter-spacing: 2px;
    display: block;
}

.bbs_detail .btn_wrap .btn_list {
    border: 1px solid #3f7f00;
}

.bbs_detail .btn_wrap .btn_upload {
    background: #3f7f00;
}

.bbs_detail .btn_wrap .btn_upload a {
    color: #fff;
}

/****************bbs_write****************/

#bbsWrite .section_intro {
    padding: 50px 20px 0;
    word-break: keep-all;
}

.bbs_write {
    margin-top: 35px;
}

.bbs_write .input_wrap {
    margin-bottom: 15px;
}

.bbs_write .input_wrap:after {
    content: '';
    clear: both;
    display: block;
}

.bbs_write .input_wrap .input_tit {
    font-size: 14px;
    font-weight: 700;
    width: 85px;
    float: left;
    letter-spacing: 1px;
    margin-top: 2px;
}

.bbs_write .input_wrap input {
    border: 1px solid #3f7f00;
    height: 24px;
    line-height: 24px;
    padding-left: 7px;
    width: calc( 100% - 85px);
    float: right;
    font-size: 13px;
}

.bbs_write .input_wrap input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.bbs_write .input_wrap .btn_file {
    float: left;
    width: 100px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #3f7f00;
}

.bbs_write .input_wrap .upload_name {
    width: calc( 100% - 194px);
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

.bbs_write textarea {
    width: 100%;
    height: 250px;
    overflow-y: auto;
    line-height: 20px;
    font-size: 13px;
    border: 1px solid #3f7f00;
    border-right: none;
    border-left: none;
    padding: 12px;
    box-sizing: border-box;
}

.bbs_write .btn_wrap {
    text-align: center;
    margin: 50px 0 100px;
}

.bbs_write .btn_wrap .btn {
    display: inline-block;
    margin: 0 15px;
    box-sizing: border-box;
    width: 110px;
    height: 32px;
    line-height: 28px;
    font-size: 14px;
}

.bbs_write .btn_wrap .btn a {
    letter-spacing: 2px;
    display: block;
}

.bbs_write .btn_wrap .btn_cancel {
    border: 1px solid #2e2f31;
}

.bbs_write .btn_wrap .btn_upload {
    background: #3f7f00;
}

.bbs_write .btn_wrap .btn_upload a {
    color: #fff;
}

.bbs_write .info_txt_wrap .info_title {
    margin : 20px 0;
    font-size: 16px;
}

.bbs_write .info_txt_wrap p {
    margin-bottom: 20px;
    line-height: 20px;
}
.bbs_write .info_txt_wrap p:last-child {
    margin-bottom: 5px;
}

.bbs_write .info_txt_wrap span {
    color: #ff5559;
    font-weight: bold;
}

.bbs_write .agree_wrap {
    margin-bottom: 5px;
}

.bbs_write .agree_wrap * {
    vertical-align: middle;
}

/****************bbs_search_wrap****************/
.bbs_header {
    position: relative;
}
.bbs_search_wrap {
    width: 210px;
    margin-top: 10px;
    padding: 5px 0;
    border-bottom: 2px solid #3f7f00;
}

.bbs_search_wrap img {
    width: 20px;
}

.bbs_search_wrap input {
    border: none;
    padding-left: 7px;
}

.bbs_search_wrap button {
    background-color: transparent;
    margin-right: 5px;
}

/****************page_select****************/

.page_select_wrap {
    margin: 25px 0 35px;
    text-align: center;
    font-size: 0;
}

.page_select_wrap .arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.page_select_wrap .arrow_double {
    margin: 0 5px;
}

.page_select_wrap .page_wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}

.page_select_wrap .page {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.page_select_wrap .page span {
    cursor: pointer;
}

.page_select_wrap .page_sel {
    border-bottom: 1px solid #3f7f00;
    color: #3f7f00;
    font-weight: bold;
}

/****************section_intro****************/

#company .section_intro .content_txt { font-size: 16px; text-align: center; margin: 25px 0; line-height: 30px; }
#company .section_intro .content_txt span {color: #3f7f00; font-weight: bold; }
#company .section_intro .img_wrap {height: 190px; margin-bottom: 30px; overflow: hidden;}

.section_intro .intro_ico_wrap {width: 100%; font-size: 0;}
.section_intro .intro_ico_wrap .ico_wrap {width: 375px; margin: 0 auto 25px;}
.section_intro .intro_ico_wrap .ico_wrap * { vertical-align: middle;}
.section_intro .intro_ico_wrap .ico_wrap img {width: 120px; margin-right: 20px;}
.section_intro .intro_ico_wrap .ico_wrap span {font-size: 26px;}

/****************section_history****************/
.section_history {width: 100%;}
.section_history .common_inner {background-color: #fff4e9; padding: 30px 0;}
.section_history .history_title { position: relative; padding-bottom: 30px; padding-left: 15px; font-size: 16px; font-weight: bold; }
.section_history .history_title:after {content:""; display:block; position: absolute; width: 26px; height: 13px; left: 15px; bottom: 0; background: url(../img/sub/ico_arrow_bottom.png) no-repeat center center;}
.section_history .history_detail_wrap {position: relative; width: 100%; padding-left: 22px; box-sizing: border-box; vertical-align: middle;}
.section_history .history_detail_wrap:after {content:""; display:block; position: absolute; width: 2px; height: 100%; left: 27px; bottom: 0; background-color: red;}
.section_history .history_detail_wrap .common_year_wrap {margin-bottom: 15px;}
.section_history .history_detail_wrap .common_year_wrap .ico_circle {position: absolute;}
.section_history .history_detail_wrap .year_text_wrap {position: relative; z-index: 2;}
.section_history .history_detail_wrap .odd_year {left: 50%;}
.section_history .history_detail_wrap .odd_year .ico_circle { top: 3px; left: -6px;}
.section_history .history_detail_wrap .even_year {text-align: right;}
.section_history .history_detail_wrap .even_year .ico_circle { top:3px; right: -7px; }
.section_history .history_detail_wrap .year_txt {margin: 0 12px; font-size: 16px; font-weight: bold; color: #3f7f00;}
.section_history .history_detail_wrap .history_details { padding: 10px 8px;}
.section_history .history_detail_wrap .history_detail {margin-bottom: 10px;}
.section_history .history_detail_wrap .history_detail:last-child {margin-bottom: 0;}
.section_history .history_detail_wrap .history_detail span {color: #3f7f00; margin:0 5px; vertical-align: middle;}
.section_history .history_detail_wrap .history_detail p {display: inline-block; width: calc( 100% - 55px); line-height: 22px;}



/****************products****************/
#products .section_intro .content_txt {text-align: center; padding-top: 20px; line-height: 1.5; font-size: 15px; color: #888;}

#products section:not(:first-child) {padding: 20px;}

#products .section_intro {border-bottom: 1px solid rgb(197, 197, 197);}
#products .section_title {font-size: 22px; text-align: center; font-weight: 900; letter-spacing: 0.05em;}
#products .section_title:after {bottom: -15px;}


#products .swiper_wrap {height: 380px; padding: 0 20px;}

.swiper-slide {background-repeat: no-repeat; background-position: 50% 50%;}
.swiper_inner {
    position: absolute;
    left: 50%;
    top: 30px;
    width: 100%;
    height: 300px;
    transform: translate(-50%);
}
.gallery-top {
    width: calc(100% - 40px);
    height: 80%;
}
/* 
.gallery-top .swiper-button-next {background: url(../img/products/btn_slider.png) no-repeat;
background-size: contain;} */
.gallery-top .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: 0; right: auto;}
.gallery-top .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: 0; left: auto;}

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #cacaca;
}

.swiper-slide {
    background-size: contain;
    background-position: center;
}

.gallery-thumbs {   
    float: left;
    width: 10%;
    height: 600px;
    margin-left: -150px;
    margin-right: auto;
}

.gallery-thumbs .swiper-slide {
    display: block;
    margin-right: 0;
    height: 120px;
}

.gallery-thumbs .swiper-slide:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    box-sizing: border-box;
    display: none
}

.gallery-thumbs .swiper-slide-thumb-active.swiper-slide:after {
    display: block;
}

.description {position: absolute; left: 50%; bottom: 20px; transform: translate(-50%); width: calc(100% - 60px); }
.description h6 {font-size: 18px; margin-bottom: 10px;}
.description p {font-size: 15px; word-break: keep-all;}

.products_info_menu {margin-top: 15px; text-align: center;}
.products_info_menu li {display: inline-block; width: 31.3%; margin-right: 2%;}
.products_info_menu li:last-child {margin-right: 0;}
.products_info_menu li button {
    width: 100%; 
    height: 50px; 
    background: #888; 
    line-height: 50px; 
    font-size: 16px; 
    color: #fff;
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
}
/* .products_info_menu li:first-child button:hover {background: #146eb3;}
.products_info_menu li:nth-child(2) button:hover {background: #14b5d3;}
.products_info_menu li:last-child button:hover {background: #12a79d;} */
.products_info_menu li.active button {font-weight: 900; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);}
.products_info_menu li:first-child.active button {background: #146eb3;}
.products_info_menu li:nth-child(2).active button {background: #14b5d3;}
.products_info_menu li:last-child.active button {background: #12a79d;}

.products_info_wrap {margin: 20px auto 0;}

.products_info > div {margin: 0 auto; padding: 20px 0; /* border-bottom: 1px solid #999; */}
.products_info > div:last-child {border-bottom: none;}

.info_title {
    /* padding: 20px 35px; */
    text-align: center;
    margin-bottom: 10px;
}

.info_title h3 {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    width: 100%;
    position: relative;
    background: #eaeaea;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
    border: 1px solid #ddd;
    word-break: keep-all;
}

.info_title h3:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #333;
    display: none;
}

.products_info .info_02:after {content: ''; display: block; clear: both;}

.table_left {display: inline-block; width: calc(50% - 5px); padding: 20px 10px; text-align: center; vertical-align: middle;}
.info_02 .table_left > div {position: relative; margin-bottom: 30px;}
.info_02 .table_left > div:after {content: ''; position: absolute; left: 50%; bottom: -15px; width: 0; height: 0; margin-left: -15px;
    border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #79a3d3;}
.info_02 .table_left > div:nth-child(2) {height: 128px;}
    .info_02 .table_left > div:nth-child(2):after {bottom: -17px;}
.info_02 .table_left > div:last-child {height: 156px; margin-bottom: 0;}
.info_02 .table_left > div:last-child:after {display: none;}

.table_title {background: #79a3d3; font-size: 16px; font-weight: 600; color: #fff; padding: 20px 10px; word-break: keep-all;}
.table_title br {display: none;}

.table_arrow {width: 300px; margin: 10px auto;}
.table_arrow_hor {display: inline-block; vertical-align: middle; margin: 0 1%; width: 9%;}

.table_text {background: #fff; font-size: 16px; line-height: 1.8; color: #79a3d3; font-weight: 700; padding: 20px 10px;
    border: 2px solid #79a3d3; word-break: keep-all; position: relative;}
.table_text p {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; padding: 0 10px;}

.table_right .table_title {background-color: #91c73d;}
.table_right .table_text {/* background: linear-gradient(#ebebe1, #d7d7c0 50%, #c1c196); */ background: #fff; color: #91c73d; border-color: #91c73d;} 
.info_02 .table_right > div:after {border-top-color: #91c73d;}

/* .info_03 {position: relative; height: 1110px;} */
.info_benefit {padding: 20px; background: #f8f8f8; margin: 10px 0;}
.info_benefit:after {content: ''; display: block; clear: both;}
.info_benefit.allergy {border-radius: 0 15px 0 15px; box-shadow: 0px 0px 2px 2px #ff7c7c inset; margin: 20px 0 10px;}

.info_benefit.stink {border-radius: 15px 0 15px 0; box-shadow: 0px 0px 2px 2px #d8995e inset;}
.info_benefit.stink .benefit_img {height: 110px;}
.info_benefit.stink .benefit_img img {margin-top: -10%;}
.info_benefit.allergy .benefit_img img {margin-top: -20px;}
/* .info_benefit.stink h4, .info_benefit.stink p {text-align: right;} */

.info_benefit.virus {text-align: center; border-radius: 15px; z-index: 1; box-shadow: 0px 0px 2px 2px #dcd699 inset;}
/* .info_benefit.virus h4, .info_benefit.virus p {text-align: center;} */

.info_benefit.dust {border-radius: 0 15px 0 15px; z-index: 2; box-shadow: 0px 0px 2px 2px #9dbb89 inset;}

.info_benefit.health {border-radius: 15px 0 15px 0; z-index: 3; box-shadow: 0px 0px 2px 2px #8f9cbb inset;}
.info_benefit.health .benefit_img {height: 100px;}
/* .info_benefit.health .info_txt {margin-top: 20px;} */
/* .info_benefit.health h4, .info_benefit.health p {text-align: right;} */

.info_benefit .benefit_img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 35%;
    overflow: hidden;
}

.info_benefit.allergy .benefit_img, .info_benefit.dust .benefit_img {height: 110px;}
.info_benefit.allergy .benefit_img img, .info_benefit.dust .benefit_img img {margin-top: -110px;}

/* .info_benefit .info_txt {padding-left: 200px;} */
.info_benefit.stink .info_txt {margin-top: 5px;}
/* .info_benefit.virus .info_txt {margin-top: -10px;} */

.info_benefit h4 {font-size: 16px; color: #333; font-weight: 900; padding-bottom: 15px; text-align: left;}
.info_benefit p {font-size: 15px; color: #666; word-break: keep-all; line-height: 1.4; text-align: left;}

.info_txt {float: left; text-align: center; font-size: 18px; width: 60%; padding-right: 10px; word-break: keep-all;}
.info_04 .info_txt {width: 100%;}
.info_04 .info_txt p { /* color: #fff; */ font-size: 16px; color: #555; font-weight: 700; display: inline-block; /* background: #ababab; */ padding: 20px 25px;}
.info_04 .info_table {margin: 20px auto;}

.info_table {
    margin: 40px auto;
    /* padding-left: 30px; */
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
}
/* .info_table .table_line:last-child {border-bottom: 1px solid #333;} */
.info_table .table_line {padding-bottom: 20px; font-size: 15px;  word-break: keep-all;}
.info_table .table_line:after {content: ''; display: block; clear: both;}
.info_table_01 .table_line p:first-child {
    float: left;
    width: 38%;
    padding: 10px;
    border-left: none;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.info_table_01 .table_line p:first-child:after {content: ''; position: absolute; right: -10px; top: 50%; margin-top: -1px; width: 10px; height: 3px; background: #12a79d;}
.info_table_01 .table_line:nth-child(2) p:first-child:after {background: #79a3d3;}
.info_table_01 .table_line:last-child p:first-child:after {background: #91c73d;}


.info_table_01 .table_line p:last-child {float: left; width: calc(62% - 10px); padding: 10px; margin-left: 10px; font-weight: 700; border: 1px solid #dadada;
    border-radius: 10px; background: #f9f9f9; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); box-sizing: border-box;}

.info_table_01 .table_line:first-child p:first-child {background: #12a79d;}
.info_table_01 .table_line:nth-child(2) p:first-child {background: #79a3d3;}
.info_table_01 .table_line:last-child p:first-child {background: #91c73d;}

.info_table_01 .table_line:first-child p:last-child {color: #12a79d;}
.info_table_01 .table_line:nth-child(2) p:last-child {color: #79a3d3;}
.info_table_01 .table_line:last-child p:last-child {color: #91c73d;}

.info_table_02:after {content: ''; display: block; clear: both;}
.info_table_02 .table_left {
    width: 43%;
    padding: 0;
    background: #146eb3;
    border-radius: 10px;
}

.info_table_02 .table_left p {  
    padding: 20px 0;
    font-weight: 700;
    height: 84px;
    color: #fff;
    border-bottom: 2px dashed #ddd;
    margin: 0 20px;
    word-break: keep-all
    ;display: flex;
    justify-content: center;
    align-items: center;
}
.info_table_02 .table_left p:last-child {border-bottom: none;}
.info_table_02 .table_right {background: #fff; border: 2px solid #d0d0d0;}
.info_table_02 .table_right p {color: #06406d;}
/* .info_table_02 .table_right{background: linear-gradient(to right ,#F9E38F, #FAECBB 50%, #FCF5DE);} */

.info_04 .info_img {margin: 0 auto;}

.info_05:after {content: ''; display: block; clear: both;}
.info_05 .info_title {width: 100%; padding: 20px 0;}
.info_05 .info_title h3:before {top: 8px;}
.info_05 > div:after {content: ''; display: block; clear: both;}
.info_05 > div > div {float: left; width: calc(50% - 10px); font-size: 16px; line-height: 1.5; margin: 10px 0;}
.info_05 .license_02 {margin: 10px 0 10px 10px;}
.info_05 > div > div h4 {font-size: 15px; font-weight: 900; text-align: center;}
.info_05 .license_txt {padding: 20px; background: #fafafa; margin: 10px 5px 10px 0;}

.info_05 .license_01 .license_txt {border: 3px solid #12a79d; background: #fafafa;}
.info_05 .license_01 .license_txt:last-child {margin-top: -3px;}
.info_05 .license_01 .license_txt p:nth-child(2) {font-weight: 400;}
.info_05 .license_txt p {font-size: 15px; font-weight: 700; line-height: 1.7;}

.info_05 .license_02 .license_txt {border-top: 3px solid #146eb3; border-bottom: 3px solid #146eb3; padding: 10px; margin: 10px 0 10px 5px;}

.info_05 .license_02 .license_txt p {margin: 17px 0; margin: 17px 0; text-indent: -15px; padding-left: 15px;}
.info_05 .license_02 .license_txt:nth-child(3) {border-top: none;  margin: -10px 0 10px 5px;}

.img_patent {text-align: center; padding: 10px;}

.info_06 .info_txt {float: none; text-align: center; width: 100%; font-size: 15px; padding-right: 10px; word-break: keep-all;}
.info_06 .info_txt p {letter-spacing: 0.025em;}
.info_06 .info_txt p span {font-size: 16px; font-weight: 700; line-height: 21px; color: #12a79d;}
.info_img_list {margin-top: 30px;}
.info_img_list:after {content: ''; display: block; clear: both;}
.info_img_list li {float: left; width: 14.9%; padding-right: 6px;}

.info_06 .info_img_list li img {height: 120px;}
.info_06 .info_img_list li:first-child {width: 26.5%;}
.info_06 .info_img_list li:last-child {width: 26.5%; padding-right: 0;}

.info_07 .info_img_list li {width: 32.3%; padding-right: 1.2%; text-align: center;}
.info_07 .info_img_list li:last-child {padding-right: 0;}
.info_07 .info_img_list li h5 {font-size: 16px; font-weight: 900; margin-bottom: 15px;}
.info_07 .info_img_list li p {font-weight: 900; font-size: 15px; line-height: 1.3; margin-top: 25px;}
.info_07 .info_img_list li:first-child p {color: #146eb3;}
.info_07 .info_img_list li:nth-child(2) p {color: #79a3d3;}
.info_07 .info_img_list li:last-child p {color: #52c2be;}
.info_07 .info_img_list li img {width: 90%; height: 200px;}

.info_07 .info_img_list li:last-child p {margin-top: 15px;}

#products .info_06 .info_title, #products .info_07 .info_title {margin-bottom: 30px;}

/* 스펙 */
.products_info:nth-child(2) > div {border-bottom: none;}

.spec_title {text-align: center;}
.spec_title h3 {font-size: 20px; font-weight: 900; text-shadow: 2px 2px rgba(0, 0, 0, 0.3);}
.spec_title .spec_img {width: 50%; margin: 10px auto;}

.products_info .spec_info {padding: 0;}
.products_info .spec_info h3 {background: #fff; box-shadow: none; border: none; padding: 0;}
.products_info .spec_info h3:after {display: block;}
.spec_info .info_title {text-align: left; margin-bottom: 0;}
.spec_info > p {font-size: 14px; color: #777; margin-top: 20px;}

.spec_info .info_table {width: auto; padding: 0; margin: 10px 0; border-top: 3px solid #14b5d3; border-bottom: 3px solid #14b5d3;}
.spec_info .info_table > div {/* float: left; width: 50%; */ border-bottom: 1px solid #e2e2e2;}
.spec_info .info_table > div:nth-child(6) {border-bottom:none}
.spec_info .info_table > div:nth-child(2n-1) {margin-left: 0;}
.spec_info .info_table > div:after {content: ''; display: block; clear: both;}
.spec_info .info_table > div h4 {float: left; width: 50%; background: #eaf6f9; padding: 20px; border-right: 1px solid #e2e2e2; box-sizing: border-box;}
.spec_info .info_table > div p {float: left; width: 50%; background: #fff; padding: 20px; /* border: 1px solid #333; */ box-sizing: border-box;}

/* 성능 & 인증 */
.certification_list .left {float: left; width: calc(50% - 10px); margin-right: 10px;}
.certification_list .right {float: left; width: calc(50% - 10px); margin-left: 10px;}

.certification_list img {border: 3px solid #12a79d87; box-shadow: 3px 3px 3px rgba(0,0,0,0.2);}

.certification_list  .certification_01 .left {width: 100%; margin: 0; padding: 10px 0;}
.certification_list  .certification_01 .right {width: 100%;/* float: left; width: calc(50% - 20px); */ padding: 10px 0; margin: 0;}
.certification_01:after {content: ''; display: block; clear: both;}
.certification_list > div {padding: 15px 0; position: relative;}
.certification_list > div:after {content: ''; display: block; clear: both;}
.certification_list .right .table_line {display:flex; border-top: 1px solid #999; text-indent: 15px;}
.certification_list .right .table_line:last-child {border-bottom: 1px solid #999;}
.certification_list .right .table_line:after {content: ''; display: block; clear: both;}
.certification_list > div:after {content: ''; display: block; clear: both;}
.certification_list .right .table_line:last-child {border-bottom: 1px solid #999;}
.certification_list .certification_01 .right h4 {display:flex; align-items: center; width: 45%; background: #f5f5f5; padding: 10px 20px; text-indent: 0px; font-size: 15px; color: #12a79d; font-weight: 900;}
.certification_list .certification_01 .right p {width: 55%; background: #fff;  padding: 10px 20px; text-indent: 0px; font-size: 15px; color: #444;}
.certification_list .certification_01 .right .note {width: auto; height: auto; line-height: 1.2; background: #fff; padding: 10px 20px;}
.certification_list .certification_01 .right .note span {font-weight: 900;}

.certification_04 {text-align: center;}
.certification_04 > div {padding: 15px 0;}
.certification_04 h4 {display: inline-block; width: 100%; font-weight: 900; font-size: 18px; border: 2px solid #146eb3; padding: 15px 0;}
.certification_04 .table {margin: 15px 0;  border-bottom: 2px solid #146eb3;}
.certification_04 .table > div:after {content: ''; display: block; clear: both;}
.certification_04 .table p {font-size: 15px; padding: 15px 0;}
.certification_04 .table p:first-child {width: 13%; border-right: 1px solid #bcbdc0;}
.certification_04 .table p:nth-child(2) {width: 13%; border-right: 1px solid #bcbdc0;}
.certification_04 .table p:nth-child(3) {width: 13%; border-right: 1px solid #bcbdc0;}
.certification_04 .table p:last-child {width: 59%;}
.certification_04 .table .title {color:#146eb3; font-weight: 900; background: #e4eaf5; border-top: 2px solid #146eb3;}
.certification_04 .table .content {display:flex; border-top: 1px solid #bcbdc0;}
.certification_04 .table .content:first-child {border-top: none;}

.certification_04 .table_top .table {display: table;}
.certification_04 .table_top .table:after {content: ''; display: block; clear: both;}
.certification_04 .table_top .table p {position:relative; display:flex; align-items: center; justify-content: center;}
.certification_04 .table_top .table .title {display:flex;}

.certification_04 .table_bottom .h4 {border-color: #283890;}
.certification_04 .table_bottom .table {}
.certification_04 .table_bottom .table .title {background-color: #e0dfef; color:#283890; border-color: #283890}
.certification_04 .table_bottom .table p {width: 33.33%; float:left;}
.certification_04 .table_bottom .table p:last-child {border-right: none;}

.certification_list .common_txt .left {width: calc(50% - 10px); padding: 15px 5px 15px 0;}
.certification_list .common_txt .right {width: calc(50% - 10px); padding: 15px 0 15px 5px;}
.certification_list .common_txt p {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 16px; font-weight: 900; text-align: center; line-height: 1.5; z-index: 9; background: rgba(255,255,255,0.7); padding: 10px; margin-top: 20px;}


/****************section_intro****************/
.technology_page .section_contents_text {
    text-align: center;
    margin-top: 35px;
    font-size: 16px;
    line-height: 22px;
}

.technology_page .section_intro {padding: 50px 15px; word-break: keep-all;}

.technology_page .section_intro_m2 {
    background: #f0ffe1;
}

.technology_page .section_contents_wrap:after {
    content: "";
    display: block;
    clear: both;
}

.technology_page .contents_inner {
    padding: 45px 15px 0;
}

.technology_page .contents_wrap {
    width: 33.33%;
    float:left;
    text-align: center;
    font-weight: bold;
    color: #3f7f00;
}

.technology_page .contents_wrap .content_header {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    background: #fff;
    border-radius: 20px;
    border:1px solid #3f7f00;
    font-size: 16px;
    line-height: 24px;
}

.technology_page .contents_wrap .sub_header {
    font-size: 18px;
    margin: 30px 0;
}

.technology_page .contents_wrap .content {
    line-height: 22px;
}

.technology_page .section03 .section_img_wrap {
    margin-top: 50px;
    text-align: center;
    font-size: 0;
}

.technology_page .section03 .section_img_wrap img {
    display: inline-block;
    /*width: 350px;*/
    width: 33.33%;
    vertical-align: middle;
}
/*
.technology_page .section03 .section_img_wrap img:nth-child(2){
    margin: 0 36px;
}
*/
.technology_page .section_txt {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
}

.technology_page .section_contents_text_wrap {
    margin-top: 45px;
}

.technology_page .section_contents_text_wrap .text_contents_wrap:after {
    content: "";
    display: block;
    clear: both;
}

.technology_page .text_contents p span {
    font-weight: bold;
}

.technology_page .text_contents {
    width: 96%;
    margin: -15px auto 0;
    background: #fff;
    border-radius: 20px;
    padding: 25px 15px;
    line-height: 20px;
    border: 2px solid #b0283b;
    box-shadow: 1px 1px 1px grey;
    box-sizing: border-box;
}

.technology_page .text_contents.m1{
    z-index: 1;
    margin: 0 auto;
}

.technology_page .text_contents.m2{
    z-index: 2;
    border-color: #d8995e;
}

.technology_page .text_contents.m3{
    z-index: 3;
    border-color: #d0d85e;
}

.technology_page .text_contents.m4{
    z-index: 4;
    border-color: #5ed887;
}

.technology_page .text_contents.m5{
    z-index: 5;
    border-color: #5ed8c8;
}
/*
.technology_page .text_contents.fl {
    float: left;
}

.technology_page .text_contents.fr {
    float: right;
}

.technology_page .text_contents.mc {
    margin:-20px auto;
}
*/

.technology_page .section06 .section_contents_text {
    font-weight: bold;
}

.technology_page .section06 .section_contents_text_wrap {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
}

.technology_page .section06 .process {
    margin: 60px 0;
    background: url(../img/main/process_back.jpg) no-repeat center center;
}

.technology_page .section06 .process .process_all {
    width: 100%;
    margin: 0 auto;
}

.technology_page .section06 .process .process_all .mt_10 {
    margin-top: 10px;
}

.technology_page .section06 .process .m_process_wrap {
    margin: 0 auto;
    overflow: hidden;
}

.technology_page .section06 .process .m_process {
    width: 48%;
    margin: 0 auto;
    float: left;
}

.technology_page .section06 .process .m_process .process_content{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: url(../img/sub/process_border.png) no-repeat center center #fff;
    background-size: 100%;
    background-position-y: top;
    border-radius: 7%;
}

.technology_page .section06 .process .m_process p {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 18%;
    line-height: 22px;
    text-align: center;
}

.technology_page .section06 .process .m_process p span {
    display: block;
    font-weight: bold;
    color: #3f7f00;
    margin-bottom: -10px;
}

.technology_page .section06 .process .right_line:after {
    content: '';
    width: 24px;
    height: 3px;
    top: 50%;
    right: -22px;
    background: #3f7f00;
    position: absolute;
}

.technology_page .section06 .process .down_line:before {
    content: '';
    width: 3px;
    height: 28px;
    bottom: -25px; left: 50%;
    background: #3f7f00;
    position: absolute;
}

.technology_page .section06 .process .fl_r {
    float: right;
}

.technology_page .section07 .section_contents_text_wrap {
    width: 100%;
    margin: 50px auto 0;
}

.technology_page .section07 .section_contents_text_wrap p {
    line-height: 24px;
    margin-bottom: 20px;
}

.technology_page .section07 .section_contents_text_wrap p:last-child {
    margin-bottom: 0;
}

.map_wrap {
    margin-top: 35px;
    margin-bottom: 50px;
}

.map_wrap .map {
    height: 280px;
    border: 1px solid #888;
}

.map_wrap .info {
    line-height: 50px;
    border-bottom: 1px solid #d5d5d5;
}

.map_wrap .info:last-child {
    border-bottom: none;
}

.map_wrap .info:after {
    content: '';
    clear: both;
    display: block;
}

.map_wrap .info .tit {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.map_wrap .info1 .tit {
    padding: 15px 0 25px;
}

.map_wrap .txt_wrap {
    font-size: 14px;
    box-sizing: border-box;
}

.map_wrap .info1 {
    line-height: 25px;
}

.map_wrap .info1 .txt {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
}

.map_wrap .info1 .line_1:before {
    content: '1';
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color:#fff;
    background: #005aa5;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
}

.map_wrap .info1 .line_7:before {
    content: '7';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 20px;
    height: 20px;
    line-height: 20px;
    color:#fff;
    background: #647317;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
}


/* @media screen and (max-width: 540px) {
    .info_table_02 .table_left p {height: 108px;}
} */

@media screen and (max-width: 540px) {

    .product_list li .product_img {height: 220px;}

    .main_section .section_title .title p {width: 90%;line-height: 1.3}

    .swiper_inner {height: 260px;}

    .info_02 .table_left .table_title br {display: block;}

    .info_benefit.allergy .benefit_img img, .info_benefit.dust .benefit_img img {margin-top: -70px;}

    .info_table_01 .table_line p:first-child {width: 178px;}
    .info_table_01 .table_line p:last-child {width: calc(100% - 188px);}
    .info_table_02 .table_left p {height: 108px;}
}

@media screen and (max-width: 460px) {
    .info_table_02 .table_left p {height: 108px;}
}
